html{
    scroll-behavior: smooth;

    background-color: whitesmoke;
    font-family: arial , sans-serif;
}



body{

margin: 0;
padding: 0;

}

.pricing{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}

.wideScreenImg{
    position: relative;
}

.wideScreenImg img{
    width: 100%;
    display: block;
}

.TextBox{
    position: absolute;
    width: 80%;
    height: 70%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50% , -50%);
    background-color: rgb(211, 211, 211 , 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

.TextBox h1{
    font-size: 100px;
    margin: 0;
}
.TextBox p{
    font-size: 20px;
    margin: 0;
}



.content{
    width: 100%;
    height: 50%;
    background-color: #3EB489;
    text-align: center;
    padding: 20px 0;
}

.content h2{
    font-size: 30px;
    padding: 10px;
}

.content p{
    font-size: 20px;
    margin: 10px;
}

.itemList{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 100px;
}



footer {
    background-color: #3EB489;
    color: black;
    padding: 20px 0;
    text-align: center;
    margin-bottom: -1px; /* Apply negative margin */
}

footer * {
    margin: 0;
    padding: 0;
}



.dashbacking{
    height: 85%;
    padding: 20px;
    border: 5px solid #3EB489;
    border-radius: 10px;
}

.dashboardBackground{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('../assets/images/softgreen.jpg');

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.greeting{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #3EB489;
    color: black;
    font-size: 25px;
}

.dashboardlayout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 35px;
}

.Icons{
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


